@{
    ViewData["Title"] = "About Us";
}

<div class="container py-5">
	<h1 class="my-3">
		Почему мы?
	</h1>
	<div class="fs-4">
		Вам не нужно тратить время на поиск активного тура по России
		и просматривать десятки сайтов, сравнивая цены — самая полная база 
		лучших предложений представлена на нашем сайте
	</div>
	<div class="row mt-5 text-center">
		<div class="col">
			<img class="my-3" 
			     src="~/Images/AboutUs/cons.png" 
			     alt="consultant" 
			     aria-label="Our consultant"/>
			<p class="fs-5 fw-bold">
				Проконсультируем
			</p>
			<p class="fs-5">
				Расскажем вам о всех деталях путешествия и забронируем тур
			</p>
		</div>
		<div class="col">
			<img class="my-3" 
			     src="~/Images/AboutUs/tickets.png" 
			     alt="Tickets" 
			     aria-label="About Tickets"/>
			<p class="fs-5 fw-bold">
				Подберем билеты
			</p>
			<p class="fs-5">
				Поможем подобрать выгодные авиа- и ж/д билеты по прямым ценам авиакомпаний
			</p>
		</div>
		<div class="col">
			<img class="my-3" 
			     src="~/Images/AboutUs/help.png" 
			     alt="help" 
			     aria-label="Our help for you"/>
			<p class="fs-5 fw-bold">
				Поможем оформить страховку
			</p>
			<p class="fs-5">
				Поможем оформить страховку. Вам остается только собрать рюкзак
			</p>
		</div>
	</div>
</div>

<div class="container pb-5">
	<h1 class="my-3">
		С нами надежно
	</h1>
	<div class="row my-3" >
		<div class="col">
			<div class="card px-5" style="min-height:240px;">
				<div class="card-body">
					<h5 class="card-title my-3">
						Мы провернные организаторы
					</h5>
					<ul>
						<li>
							Одобрены Ростуризмом
						</li>
						<li>
							Застрахованы в соответствии с Федеральным законом «О туристской деятельности»
						</li>
						<li>
							Имеем опыт работы более 3 лет
						</li>
						<li>
							Регулярно проходим проверку качества Большой Страны
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card px-5" style="min-height:240px;">
				<div class="card-body">
					<h5 class="card-title my-3">Безопасная оплата</h5>
					<p>
						Мы всегда заключаем договор о продаже тура, 
						принимаем оплату на расчетный счет или через терминалы СберБанка (без комиссии).
					</p>
					<p>
						После полной оплаты вы получаете на электронную почту 
						туристическую путевку — подтверждение забронированных вами услуг.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-3" >
		<div class="col">
			<div class="card px-5" style="min-height:240px;">
				<div class="card-body">
					<h5 class="card-title my-3">
						Поддержка в туре
					</h5>
					<p>
						Мы всегда отстаиваем интересы туриста в туре. 
						Если принимающий организатор нарушает ваши права — 
						мы обязательно решим проблему.
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card px-5" style="min-height:240px;">
				<div class="card-body">
					<h5 class="card-title my-3">
						Контроль качества
					</h5>
					<p>
						После каждого тура мы собираем отзывы туристов. У большинства наших туров отличные оценки.
						Если мы получаем плохие отзывы о туре, мы разбираемся в ситуации и решаем проблему!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pb-5">
	<h1 class="my-3">
		Как купить тур?
	</h1>
	<div class="row my-3" >
		<div class="col">
			<div class="card px-5" style="min-height:340px;">
				<div class="card-body">
					<div class="number my-3"><p>1</p></div>
					<h5 class="card-title">
						Выбор тура
					</h5>
					<p>
						Выбирайте тур на сайте, используя фильтры поиска. 
						Не нашли подходящий вариант? Обратитесь в службу поддержки, наши специалисты с радостью помогут вам.
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card px-5" style="min-height:340px;">
				<div class="card-body">
					<div class="number my-3"><p>2</p></div>
					<h5 class="card-title">
						Онлайн-бронирование
					</h5>
					<p>
						При оформлении заявки вы получите ссылку на заполнение анкеты туриста. 
						Мы зарегистрированный Роскомнадзором оператор персональных данных.
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card px-5" style="min-height:340px;">
				<div class="card-body">
					<div class="number my-3"><p>3</p></div>
					<h5 class="card-title">
						Договор и счет на оплату
					</h5>
					<p>
						После подтверждения вы получите договор и счет на оплату тура. 
						Во избежание ошибок, покупайте авиабилеты только после получения договора 
						и информации по встрече группы.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-3" >
		<div class="col">
			<div class="card px-5" style="min-height:340px;">
				<div class="card-body">
					<div class="number my-3"><p>4</p></div>
					<h5 class="card-title">
						Оплата тура
					</h5>
					<p>
						В течение 5 рабочих дней после получения договора (если в договоре не указан иной срок оплаты) 
						вы должны оплатить тур или внести предоплату согласно договору.
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card px-5" style="min-height:340px;">
				<div class="card-body">
					<div class="number my-3"><p>5</p></div>
					<h5 class="card-title">
						Подтверждение оплаты
					</h5>
					<p>
						После получения оплаты мы отправим вам туристическую путевку. 
						За несколько дней до тура мы направим туристический ваучер с 
						информацией по встрече группы и рекомендациями по набору личных вещей.
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card px-5" style="min-height:340px;">
				<div class="card-body">
					<div class="number my-3"><p>6</p></div>
					<h5 class="card-title">
						Ждать
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
