@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <div id="carouselExampleCaptions" 
         class="carousel slide" 
         data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1">
          
      </button>
      <button type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2">
          
      </button>
      <button type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3">
          
      </button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="~/Images/1.jpg" 
             class="d-block w-100" 
             alt="Mountain" 
             aria-label="Mountain tour">
      <div class="carousel-caption d-none d-md-block">
          <h1>
              Горные туры
          </h1>
          <p>
              Cамые интересные места, самые необычные впечатления
              и самый высокий уровень комфорта
          </p>
      </div>
    </div>
    <div class="carousel-item">
        <img src="~/Images/2.jpg" 
             class="d-block w-100"
             alt="Snow" 
             aria-label="Snow tour">
      <div class="carousel-caption d-none d-md-block">
          <h1>
              Снежные вершины
          </h1>
          <p>
              Cамые интересные места, самые необычные впечатления 
              и самый высокий уровень комфорта
          </p>
      </div>
    </div>
    <div class="carousel-item">
        <img src="~/Images/3.jpg" 
             class="d-block w-100"
             alt="Lakes" 
             aria-label="Lakes tour">
      <div class="carousel-caption d-none d-md-block">
          <h1>
              Озера
          </h1>
          <p>
              Cамые интересные места, самые необычные впечатления 
              и самый высокий уровень комфорта
          </p>
      </div>
    </div>
  </div>
        <button class="carousel-control-prev" 
                type="button" 
                data-bs-target="#carouselExampleCaptions" 
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" 
                  aria-hidden="true">
            </span>
            <span class="visually-hidden">
                Previous
            </span>
        </button>
        <button class="carousel-control-next" 
                type="button" 
                data-bs-target="#carouselExampleCaptions" 
                data-bs-slide="next">
            <span class="carousel-control-next-icon"
                  aria-hidden="true">
                
            </span>
            <span class="visually-hidden">
                Next
            </span>
  </button>
</div>

</div>

<div class="bg-light">
    <div class="container p-3 d-flex justify-content-between gap-4">
    <div class="d-flex flex-column align-items-center">
        <img class="m-3" 
             src="~/Images/like.png" 
             style="width: 50px;" 
             alt="Count" 
             aria-label="Count rider" />
        <h5>
            Более 5000 поездок
        </h5>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="m-3" 
             src="~/Images/money.png" 
             style="width: 50px;" 
             alt="Price" 
             aria-label="Low price" />
        <h5>
            Доступные цены
        </h5>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="m-3" 
             src="~/Images/cool.png"
             style="width: 50px;" 
             alt="many tour" 
             aria-label="Many count tour"/>
        <h5>
            Широкий выбор туров
        </h5>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="m-3" 
             src="~/Images/team.png" 
             style="width: 50px;" 
             alt="Friendly" 
             aria-label="Friendly team"/>
        <h5>
            Дружная команда
        </h5>
    </div>
</div>
</div>


<div class="container py-5 w-50">
    <h3 class="text-center mb-5">
        Отдых в России — активные туры с Нами
    </h3>
    <h5>
        Сплавы по рекам
    </h5>
    <p class="my-5">Урал действительно очень богат своей природой. 
        Горы и пещеры, реки и огромная водная гладь Павловского водохранилища привлекает туристов и любителей активного отдыха. 
        Полноводные реки приглашают летом на сплавы. Можно выбрать байдарки, большие плоты, катамараны. 
        Вашими спутниками будут очень живописные берега, песни у вечернего костра, каша и суп с дымком, 
        душевные беседы, ягоды и грибы, рыбалка и комары. 
        Но настоящий турист не боится комаров!
    </p>
    <h5>Активный отдых на любой вкус</h5>
    <p class="my-5">
        Варианты туров по России многочисленны и разнообразны.
        Если Вас манят горы, совершите восхождение на Эльбрус или отправляйтесь в конный поход по Алтаю.
        Вам нравится водный туризм? Выберете сплав по Уралу, Кавказу или Карелии, или проведите отпуск на берегах Байкала.
        Любите движение и скорость?
        Отправляйтесь в велотур по Крыму летом или сафари на снегоходах зимой. Ищете спокойный отдых?
        Пройдите по треккинговым тропам Сибири, Адыгеи и Урала или отправьтесь в круиз по Волге.
        Познакомьтесь с традициями народов России в этнотурах по Бурятии, Хакасии, Алтаю и Дальнему Востоку.
    </p>
    <h5>Туры по Уралу</h5>
    <p class="my-5">
        Мы организуем туры по Уралу, в которых активный отдых отлично сочетается с высоким уровнем сервиса.
        Куда бы вы не планировали поездку, мы найдем лучшее решение. 
        Обязательно учтем ваши пожелания, бюджет и уровень физической подготовки.
        Многие туры по Уралу составляют достойную конкуренцию поездкам заграницу.
        Мы организуем трансфер, проживание и всю активность по программе.
        Кроме того, с удовольствием поможем с поиском авиа или ж/д билетов.
        Перед вами сотни предложений, осталось только решиться!
    </p>
</div>

