@{
	ViewData["Title"] = "Our Instructors";
}

<div class="container d-flex flex-column align-items-center justify-content-center py-5">
	<h1>
		Наша команда
	</h1>
	<div class="row my-3">
		<div class="col">
			<div class="card instructor">
				<div class="card-horizontal">
					<div class="f-flex flex-column border text-center">
						<img src="~/Images/Instructors/instructor-2.jpg" 
						     class="card-img-top"
						     alt="instructor" 
						     aria-label="Our instructor">
						<p class="my-4">
							Инструктор Диана
						</p>
						<p class="fw-bold">
							Стаж: 9 лет
						</p>
					</div> 
					<div class="card-body">
						<p class="card-text">
							Путешествие - это возможность увидеть мир и собрать свою коллекцию интересных историй. 
							Познакомиться с новыми людьми, с самим собой, узнать свои возможности. 
							Любая поездка на природу - это увлекательный способ изменить себя в лучшую сторону. 
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card instructor">
				<div class="card-horizontal">
					<div class="f-flex flex-column border text-center">
						<img src="~/Images/Instructors/instructor-4.jpg" 
						     class="card-img-top" alt="instructor"
						     aria-label="Our instructor">
						<p class="my-4">
							Инструктор Руслан
						</p>
						<p class="fw-bold">
							Стаж: 6 лет
						</p>
					</div>
					<div class="card-body">
						<p class="card-text">
							"Туризм увлечет тебя на всю оставшуюся жизнь.
							Путешествия станут образом твоих мыслей, стимулом для движения вперёд, поиска новых маршрутов, 
							открытия величественных вершин. 
							Ты будешь искать неизведанные дали и с упоением рассказывать своим близким о чудесах природы.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row my-3">
		<div class="col">
			<div class="card instructor">
				<div class="card-horizontal">
					<div class="f-flex flex-column border text-center">
						<img src="~/Images/Instructors/instructor-3.jpg" 
						     class="card-img-top" 
						     alt="instructor" 
						     aria-label="Our instructor">
						<p class="my-4">
							Инструктор Михаил
						</p>
						<p class="fw-bold">
							Стаж: 4 года
						</p>
					</div>
					<div class="card-body">
						<p class="card-text">
							Миша появился в нашей команде весной 2019 года. 
							Что мы знаем о нем? Он увлекается слэклайном и даже учит этому 
							(это когда между двумя точками натягивают стропу и ходят по ней), 
							катает на сноуборде, играет в волейбол и на гитаре.
							А еще Миша - пчеловод. Да-да, он знает толк в меду. Или в мёде?
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card instructor">
				<div class="card-horizontal">
					<div class="f-flex flex-column border text-center">
						<img src="~/Images/Instructors/instructor-1.jpg"
						     class="card-img-top" 
						     alt="instructor" 
						     aria-label="Our instructor">
						<p class="my-4">
							Инструктор Евгения
						</p>
						<p class="fw-bold">
							Стаж: 7 лет
						</p>
					</div>
					<div class="card-body">
						<p class="card-text">
							 Обожаю туризм во всех его проявлениях! 
							 Запах костра, разговоры обо всем на свете,восходы и закаты - как можно остаться к этому равнодушным? 
							 И я не осталась! 
							 Работа с командой и нашими туристами наполняет меня энергией! 
							 Смотреть на то, как туристы восхищаются природой, преодолевают себя и свои страхи, 
							 а затем гордятся собой - одно удовольствие! 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	



</div>
