@{
    ViewData["Title"] = "Photosession";
}

<div class="container pb-5">
    <div class="img-container">
        <div class="row my-4">

            <div class="col-md-8 p-0 hover-effect-btn">
                <div class="hover-effect-btn p-2">
                    <img class="border border-5 border-light" 
                         src="~/Images/Photosession/photosession-1.jpg" 
                         alt="photosession" 
                         aria-label="Our photosession"/>
                </div>
                <div class="overlay"></div>
                <p class="fs-3 px-5">
                    Свадебные фотосессии
                </p>
            </div>

            <div class="col-6 col-md-4 p-0 hover-effect-btn">
                <div class="hover-effect-btn p-2">
                    <img class="border border-5 border-light" 
                         src="~/Images/Photosession/photosession-2.jpg" 
                         alt="photosession" 
                         aria-label="Our photosession"/>  
                </div>
                <div class="overlay"></div>
                <p class="fs-3 px-5">
                    Фотосессии в стиле Фэнтези
                </p>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-6 col-md-4 p-0 hover-effect-btn">
                <div class="hover-effect-btn p-2">
                    <img class="border border-5 border-light " 
                         src="~/Images/Photosession/photosession-3.jpg" 
                         alt="photosession" 
                         aria-label="Our photosession"/>
                </div>
                <div class="overlay"></div>
                <p class="fs-3 px-5">
                    Фотосесии в стиле Fashion
                </p>
            </div>
            <div class="col-6 col-md-4 p-0 hover-effect-btn">
                <div class="hover-effect-btn p-2">
                    <img class="border border-5 border-light " 
                         src="~/Images/Photosession/photosession-4.jpg"
                         alt="photosession" 
                         aria-label="Our photosession"/>
                </div>
                <div class="overlay"></div>
                <p class="fs-3 px-5">
                    Фотосессия в стили Love-Story
                </p>
            </div>
            <div class="col-6 col-md-4 p-0 hover-effect-btn">
                <div class="hover-effect-btn p-2">
                    <img class="border border-5 border-light " 
                         src="~/Images/Photosession/photosession-5.jpg" 
                         alt="photosession" 
                         aria-label="Our photosession"/>
                </div>
                <div class="overlay"></div>
                <p class="fs-3 px-5">
                    Фотосессии в Готическом стиле
                </p>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-6 p-0 hover-effect-btn">
                <div class="hover-effect-btn p-2">
                    <img class="border border-5 border-light " 
                         src="~/Images/Photosession/photosession-6.jpg" 
                         alt="photosession" 
                         aria-label="Our photosession"/>
                </div>
                <div class="overlay"></div>
                <p class="fs-3 px-5">
                    Фотосессии в стиле Life-Style
                </p>
            </div>
            <div class="col-6 p-0 hover-effect-btn">
                <div class="hover-effect-btn p-2">
                    <img class="border border-5 border-light " 
                         src="~/Images/Photosession/photosession-7.jpg"
                         alt="photosession" 
                         aria-label="Our photosession" />
                </div>
                <div class="overlay"></div>
                <p class="fs-3 px-5">
                    Фотосесии на Вашу тему
                </p>
            </div>
        </div>
    </div>
</div>

